html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.App {
  max-width: calc(1600px + 10%);
  padding: 15px 5%;
  margin: 0 auto;
}

.App-sub {
  padding: 0 12px;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0;
}
.anchor-div {
  height: 40px;
}

.inline-link {
  text-decoration: underline;
  font-style: italic;
}

p {
  font-size: 15px
}
/* =================== Nav css ================= */
header {
  color: white;
  background: black;
  font-size: 17px;
  line-height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  display: flex;
}

#logo {
  margin-top: 5px;
  margin-left: 5px;
  width: 38px;
  height: 34px;
}

header ul {
  margin: 0;
}

.nav-li {
  display: inline-block;
  height: 44px;
}

header a {
  padding: 0 13px;
  color: white;
}

header a:hover {
  text-decoration: underline white;
}

.nav-spacer {
  height: 14px;
}

/* =================== About css ================= */
.About {
  border: black 1.5px solid;
  min-height: 300px;
  border-radius: 5px;
}

.about-content {
  display: grid;
  grid-template-columns: 1.25fr 3fr;
  grid-gap: 20px;
  padding: 10px 10px;
}

#profile-img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
}

.skills-div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.single-skill {
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.skill-icon {
  min-width: 40px;
  min-height: 40px;
  max-width: 100%;
  max-height: 100%;
}



/* =================== Slides css ================= */
.Slides {
  background: rgb(36, 36, 36);
  color: white;
  min-height: 600px;
  display: grid;
  grid-template-columns: 0.5fr 2.8fr;
  padding: 5px;
  grid-gap: 10px;
}

.Slides * {
  /* border: 1px solid white; */
}

.slides-projects {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(5, 1fr);
  padding: 8px 5px;
  background: rgb(68, 68, 68);
}

.slide-project img {
  width: 100%;
  opacity: 0.45;
}

.selected-project {
  border: 4px solid goldenrod;
  padding: 3px;
}

.selected-project img{
  opacity: 1;
}

.slides-content {
  padding: 50px 10px 10px 50px;
}

.slides-content-sub {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  height: 100%;
}

.slides-intro {
  min-height: 120px;
  font-size: 18px;
  margin-top: -25px;
}

.slides-intro-links {
  margin-top: 20px;
  padding-right: 40px;
}

.slides-intro-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 6px; 
  border: 2px solid white;
  width: 145px;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slides-intro-link:hover {
  background: rgb(240, 240, 240);
  color: black;
}

.slides-hero {
  text-align: center;
  height: 100%;
}

.slides-content-sub {
  padding-top: 30px;
  padding-left: 20px;
}

.slides-content-slide {
  min-height: 65%;
  max-width: 100%;
}

.slides-content-slidenote {
  margin-top: 15px;
  font-size: 18px;
  background: rgba(68, 68, 68, 0.438);
  border-radius: 10px;
  padding: 12px 8px;
}

/* =================== Project css ================= */
.Projects {
  min-height: 500px;
}

/* .single-project {
  padding: 15px 0;
} */

.single-project-info {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-gap: 10px;
  align-items: center;
}

.single-project-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(202, 202, 202);
  height: 100%;
}

.single-project-img {
  width: 100%;
}

.single-project-links {
  display: flex;
  justify-content: center;
}

.single-project-link {
  border: black 2px solid;
  width: 125px;
  border-radius: 6px;
  text-align: center;
  padding: 7px 5px;
  font-weight: bold;
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:  rgb(100, 100, 100);
}

.single-project-link:hover {
  color: white;
  background: rgb(100, 100, 100);
}

.single-project-note {
  font-size: 15px;
}

/* =================== Contact css ================= */
.Contacts {
  margin-top: 20px;
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.contact-icons-container {
  width: 80%;
  display: flex;
  margin: 20px auto 10px;
  justify-content: space-around;
}

.contact-icons {
  font-size: 18px;
  font-weight: bold;
}

/* ================= @ media ====================== */
@media(max-width: 1024px) {
  .App {
    padding: 15px 0;
  }
}